//Colors
$brand-primary: #94E76D;
//navbar
$navbar-height:                    76px;
$navbar-default-bg:                #fff;
$navbar-default-link-color:        #555;
//buttons
$btn-border-radius-base:         3px;
$btn-border-radius-large:        3px;
$btn-border-radius-small:        3px;